mixin publication(publication)
  - var year = publication.date.split('-').shift();
  .row
    .col-12.offset-0.col-sm-3
      .thumbnail.mt-1(style=publication.pending ? "filter: grayscale(100%);":"")
        img.img-fluid.center-block(src="images/"+publication.thumbnail, alt="Thumbnail of "+publication.title)
    .col-12.col-sm-9(class=publication.pending ? "text-muted" : "")
      if publication.articletype
        span.text-muted #{publication.articletype}
      h5 #{publication.title}
        if publication.stamps
          each stamp in publication.stamps
            a.ml-1(href=stamp.href, style="vertical-align: text-bottom;")
              | &nbsp;
              img(src="images/"+stamp.icon, style="height: 1.1rem;")
      span
        if publication.authors.length > 2
          each author, i in publication.authors
            if i < publication.authors.length - 1
              | #{author},
              |
            else
              | and #{author}
        else if publication.authors.length > 1
          | #{publication.authors[0]} and #{publication.authors[1]}
        else
          | #{publication.authors[0]}
      if publication.note
        br
        span.text-muted #{publication.note}
      br
      span.text-muted #{publication.published}
      if publication.pending
        br
        span In Press
      br
      ul.list-inline
        if publication.bibtex && publication.bibentry
          li.list-inline-item
            a(data-bs-toggle="collapse", href="#bibtex-"+publication.key, role="button", aria-expanded="false", aria-controls="bibtex-"+publication.key) BibTeX
        else 
          li.list-inline-item BibTeX Pending
        if publication.caption
          li.list-inline-item
            a(data-bs-toggle="collapse", href="#abstract-"+publication.key, role="button", aria-expanded="false", aria-controls="abstract-"+publication.key) Abstract
        if publication.doi
          li.list-inline-item
            a(href="https://doi.org/"+publication.doi)
              span.text-sc &nbsp;doi:
              | #{publication.doi}
      if publication.caption
        p.collapse(id="abstract-"+publication.key) #{publication.caption}
      if publication.bibtex && publication.bibentry
        pre.collapse(id="bibtex-"+publication.key)
          code #{publication.bibentry}
  
  ul.list-inline.text-end
    if publication.downloads
      each download in publication.downloads
        li.list-inline-item
          if download.href
            a(href=download.href)
              | #{download.desc}
          else
            span.text-muted #{download.desc}
    li.list-inline-item
      a(href="/publications/"+publication.bibtex.replace(".bib", ".html"))
        | Details

mixin publications(publications)
  ul.list-group.list-group-flush
    each publication in publications
      li.list-group-item
        +publication(publication)

mixin publications_card(selected_publications, publications)
  .card
    h3.card-header Selected #{publications.heading}
    //-.card-body
    +publications(selected_publications.reverse())
    .card-footer.text-end
      - var nav_item = NavItems.find((element, index, array) => { return element.key === 'publications' });
      if nav_item.disabled
        a.text-muted View All
      else
        a(href=nav_item.url) View All
