mixin _orcid_author(author)
  if author in coauthors
    a(href="https://orcid.org/"+coauthors[author].orcid)
      i.fa-brands.fa-orcid.orcid-color
      | &thinsp;
      | #{author}
  else
    | #{author}

mixin _publication_authors(publication)
  if publication.authors.length > 2
    each author, i in publication.authors
      if i < publication.authors.length - 1
        +_orcid_author(author)
        | ,
        |
      else
        | and 
        |
        +_orcid_author(author)
  else if publication.authors.length > 1
    +_orcid_author(publication.authors[0])
    |
    | and
    | 
    +_orcid_author(publication.authors[1])
  else
    +_orcid_author(publication.authors[0])

mixin _venues(publication)
  if publication.published[0] && publication.published[0].venue
    each published, i in publication.published
      - var venue = published.venue
      if published.publisher && venue.includes('{}')
        | #{venue.replace('{}', published.publisher)}
      else if published.publisher
        | #{published.publisher} #{published.venue}
      else if venue.includes('{}')
        | #{venue.replace('{}', '')}
      else
        | #{published.venue}
      if published.short 
        |
        | (#{published.short})
      if i + 1 < publication.published.length
        | ,
        |
  else
    | #{publication.published}

mixin publication(publication)
  - var year = publication.date.split('-').shift();
  .row
    .col-12.offset-0.col-sm-3
      .thumbnail.mt-1(style=publication.pending ? "filter: grayscale(100%);":"")
        img.img-fluid.center-block(src="images/"+publication.thumbnail, alt="Thumbnail of "+publication.title)
    .col-12.col-sm-9(class=publication.pending ? "text-muted" : "")
      if publication.articletype
        span.text-muted #{publication.articletype}
      h5 #{publication.title}
        if publication.stamps
          each stamp in publication.stamps
            a.ml-1(href=stamp.href, style="vertical-align: text-bottom;")
              | &nbsp;
              img(src="images/"+stamp.icon, style="height: 1.1rem;")
      span
        +_publication_authors(publication)
      if publication.note
        br
        span.text-muted #{publication.note}
      br
      span.text-muted
        +_venues(publication)
      if publication.pending
        br
        span In Press
      br
      ul.list-inline
        if publication.bibtex && publication.bibentry
          li.list-inline-item.me-4
            a(data-bs-toggle="collapse", href="#bibtex-"+publication.key, role="button", aria-expanded="false", aria-controls="bibtex-"+publication.key) BibTeX
        else 
          li.list-inline-item.me-4 BibTeX Pending
        if publication.caption
          li.list-inline-item.me-4
            a(data-bs-toggle="collapse", href="#abstract-"+publication.key, role="button", aria-expanded="false", aria-controls="abstract-"+publication.key) Abstract
        if publication.doi
          li.list-inline-item.me-4
            a(href="https://doi.org/"+publication.doi)
              span.text-sc &nbsp;doi:
              | #{publication.doi}
      if publication.caption
        p.collapse(id="abstract-"+publication.key) #{publication.caption}
      if publication.bibtex && publication.bibentry
        pre.collapse(id="bibtex-"+publication.key)
          code #{publication.bibentry}
  
  if (publication.downloads && publication.downloads.length > 0) || publication.details_page
    ul.list-inline.text-end
      if publication.downloads
        each download in publication.downloads
          li.list-inline-item.ms-4
            if download.href
              a(href=download.href)
                | #{download.desc}
            else
              span.text-muted #{download.desc}
      if publication.details_page
        li.list-inline-item.ms-4
          a(href="/publications/"+details_page)
            | Details
