extends defaultcontent.pug

block variables
  - var PageName = "Publications"
  - var PageID = "publications"

block content
  block publicationvariables
    - var bibkey = '';
  
  - var bibentry = bibliography[bibkey] || {};

  block bibliographyoverview
    .card
      .card-header.d-flex
        span Article
        if bibentry.parsedContent.url
          span.ms-auto
            a(href=bibentry.parsedContent.url)
              i.bi.bi-download
      .card-body
        h6.card-title.text-muted
          | #{bibentry.parsedContent.author}
        h4.card-subtitle
          | #{bibentry.parsedContent.title}
        dl.row
          dt.col-sm-2 Authors
          dd.col-sm-10 #{bibentry.parsedContent.author}
          dt.col-sm-2 Title
          dd.col-sm-10 #{bibentry.parsedContent.title}
          dt.col-sm-2 Year
          dd.col-sm-10 #{bibentry.parsedContent.year}
          if bibentry.parsedContent.doi
            dt.col-sm-2 DOI
            dd.col-sm-10
              a(href="https://doi.org/"+bibentry.parsedContent.doi) #{bibentry.parsedContent.doi}
          dt.col-sm-2.text-muted [...]
          dd.col-sm-10.text-muted [content deliberately omitted]
    
  block publicationscontent
    
  block bibtexentry
    .card.bg-light.border-secondary
      .card-header.d-flex
        span BibTeX Entry
        span.ms-auto
          a(href=bibentry.filename)
            i.bi.bi-download 
      .card-body
        pre.mb-0
          code
            | #{bibentry.content}
